@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

:root {
  --blue: #0066b2;
  --background: #282828;
  --white: #fff;
  --component: #202020;
  --red: #ff003f;
  --darker-component: #141414;
  --grey: #818589;
  --black: #000;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  color: var(--white);
  font-family: "Inter";
}

body {
  height: 100vh;
  background: var(--background);
}

.blue-text {
  color: var(--blue);
}

button:hover {
  cursor: pointer;
}
